/* *{
    background-color: blueviolet;
} */
h1{
    color:rgb(58, 49, 49)
}
img{
    width: 200px;
}

.Food{
    color: green;
}
.Lies{
    color: brown;
}
.STAFFINGPLAN{
    color: crimson;
}
*{
    background-color: azure;
}
    