*{
    margin: 0;
    padding: 0;
} 
h1{
    color:rgb(58, 49, 49)
}
img{
    width: 200px;
}

.Food{
    color: green;
}
.Lies{
    color: brown;
}
.STAFFINGPLAN{
    color: crimson;
}
*{
    background-color: azure;
}
.image-row {
    display: flex;
    gap: 20px;           /* space between images */
}

.image-row img {
    width: 200px;        /* adjust size */
    height: auto;
}
#sample{
    background-color: cyan;
    border:5px black solid;
}
.First{
    border-style: dotted;
    margin: 10px 15px;
    padding: 30px;
}
/* my flex properties */
.container{
    color: coral;
}
.childContainer{
    display:flex;
    /* gap: 20px; */
    justify-content: space-between;
    color: cadetblue;
}
    